body {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7820378151260504) 100%), url("BG.webp");
    background-color: black;
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 150px;
}
h1 {
    font-family: 'Limelight', cursive;
    text-align: center;
    color: burlywood;
    margin: 50px 0;
}
.card {
    transition: transform .4s;
}
.card:hover {
    -ms-transform: scale(1.05); 
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.card-body {
    text-align: center;
    font-family: "Forum", cursive;
}
.card-title {
    font-family: "Limelight", cursive;
    font-size: 1.1rem;
    text-align: center;
}
.real{
    font-family: 'Forum', cursive;
    text-align: left;
}
.year {
    float: right;
}
.preview {
    box-shadow: 0px 10px 14px -7px black;
    &:hover {
        box-shadow: 0px 10px 14px -7px darkred;
    }
}

.modal-body {
    font-family: 'Forum', cursive;
    text-align: center;
    background-color: black;
        .modal-body.title {
        font-family: "Limelight", cursive;
        }
}